/* Font Face */

@font-face {
    font-family: 'Mostica';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Mostica'), url(../webfonts/Mostica/Mostica.woff2) format('woff2');
}

@font-face {
    font-family: 'Bashirah';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Bashirah'), url(../webfonts/Bashirah.ttf) format('truetype');
}

.bashirah {
    font-family: 'Bashirah' !important;
}

.label-sidebar {
    background: #F4D58D;
    padding: 4px 10px 1px;
    color: #001427;
    border-radius: 100px;
}

.default-theme .sidebar-wrapper .sidebar-footer>div.not-signin {
    border-right: 2px solid #F4D58D;
}


/* END Font Face */


/* Main Styling */

body {
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Mostica', cursive;
}

body.bg-changing {
    background: linear-gradient(-67deg, #BF3100, #F37335);
    /* background: linear-gradient(-67deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background-size: 200% 200%;
    animation: gradient 30s ease infinite;
    background-repeat: no-repeat;
}

.bg-dashboard {
    background: url('../img/Header.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.underline--magical {
    background-image: linear-gradient(120deg, #BF3100 0%, #BF3100 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 110%;
    padding: 5px 10px;
    transition: background-size 0.35s ease-in;
    border-radius: 25px;
}

.underline--magical:hover {
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
    transition: color 0.25s ease-out;
}

section {
    /* margin-top: 2%; */
    padding: 5% 0;
    height: auto;
}

.max-z-index {
    z-index: 999;
}

.max-z-index-1 {
    z-index: 998;
}

.text-brightred {
    color: #bf3100 !important;
}

.bottom-nav {
    background: #001427;
}

.btn-transparent {
    background: transparent;
    border-color: transparent;
}

.btn-transparent:hover {
    background: transparent;
    border-color: transparent;
}


/* END Main Styling */


/* ================================================================================ */


/* Index Page Styling */

.logo-index {
    max-width: 80%;
    height: auto;
}


/* END Index Page Styling */


/* ================================================================================ */


/* Login Form Section */


/* .form-control {
    border-radius: 2rem;
} */

.form-control:focus {
    border-color: #C1212D;
    box-shadow: 0 0 0 0.2rem rgba(193, 33, 45, .25);
}

.btn-login {
    background-color: #C1212D;
    border: 2px solid white;
    border-radius: 2rem;
}

.btn-login:not(:disabled):not(.disabled):active,
.btn-login:not(:disabled):not(.disabled):visited,
.btn-login:not(:disabled):not(.disabled):focus,
.btn-login:not(:disabled):not(.disabled):hover {
    background-color: #ec3440;
    border-color: white;
    transition: .3s ease-in-out;
}

.btn-daftar {
    background-color: #F37335;
    border: 2px solid #fff;
    border-radius: 2rem;
}

.btn-daftar:not(:disabled):not(.disabled):active,
.btn-daftar:not(:disabled):not(.disabled):focus,
.btn-daftar:not(:disabled):not(.disabled):hover {
    background-color: #FDC830;
    border-color: #fff;
    transition: .3s ease-in-out;
}


/* END Login Form Styling */


/* ================================================================================ */


/* Navbar Dashboard */

.img-circle {
    width: 28px;
    border-radius: 14px;
}

@media screen and (min-width: 415px) {
    .bottom-nav {
        display: none;
    }
}


/* END Navbar Dashboard */


/* ================================================================================ */


/* Header Section */

.bg-location {
    background-color: #BF3100;
    padding: 5px 10px 1px;
    background-size: 110% 110%;
    border-radius: 25px;
    color: #F4D58D !important;
}

.weekly-label {
    background-color: #F4D58D;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 25px;
}

.weekly-label-margin {
    margin-top: 8px;
}

.card-cafe {
    border-radius: 5vw;
    border: 0px transparent;
    overflow: hidden;
    background-color: #001427;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, .8));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}

.card-cafe-sponsored-center {
    border-radius: 5vw;
    border: 0px transparent;
    overflow: hidden;
    background-color: #bf3100;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, .8));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
    margin-left: 10px;
    margin-right: 10px;
    color: #f4d58d;
}

.see-more-btn {
    background-color: #F4D58D;
    border-radius: 25px;
    border: 2px solid #001427;
    color: #343A40;
}

.see-more-btn:hover,
.see-more-btn:active {
    /* border-color: transparent; */
    background-color: #001427;
    border-radius: 25px;
    border: 2px solid #F4D58D;
    color: #F4D58D;
}

.navbar-dark {
    background: rgba(0, 0, 0, .4);
}

.navbar-dark-alt {
    background: #001427;
}

.drop-shadow {
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, .8));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
}

.top-logo-nav {
    margin-left: 7vw;
}


/* END Header Section */


/* ================================================================================ */


/* Main Section */

.main-content {
    background: url('../img/Main_Background.svg');
    background-size: 100% auto;
    background-repeat: repeat-y;
}


/* END Main Section */


/* ================================================================================ */


/* Profile Page */

.navbar-dark.profile {
    background: rgba(0, 0, 0, .4) !important;
}

.bg-profile {
    background: #BF3100;
}

.img-profile-photo {
    border-radius: 10%;
}

.img-logonav-profile {
    width: 32px;
    border-radius: 50%;
}

.text-gold {
    color: #f4d58d !important;
}

.text-navy-blue {
    color: #001427;
}

.garis {
    width: 20%;
    height: 2px;
    background: #BF3100;
    margin-top: 5px;
}

#user-recommendation {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.choice-label {
    background: #001427;
    border-radius: 25px;
    background-size: 50% 50%;
    margin: .5rem .8rem;
}

#user-recommendation {
    background: url('../img/Main_Background.svg');
    background-size: 100% auto;
    background-repeat: repeat-y;
}

.my-cafe a:hover {
    text-decoration: none;
}


/* END Profile Page */


/* ================================================================================ */


/* Categories Page */

.img-food-pic {
    width: 15%;
    background: white;
    border-radius: 50%;
    border: 5px solid #f4d58d;
}


/* END Categories Page */


/* ================================================================================ */


/* Hall of Fame Page */

.label-hof {
    padding: 5px 10px;
    background: #bf3100;
    border-radius: 1rem;
}


/* END Hall of Fame Page */


/* ================================================================================ */


/* Cafe Randomizer Icon */

@media screen and (max-width: 413px) {
    .randomizer {
        position: absolute;
        left: 70vw;
        right: 5vw;
        top: 15vh;
        z-index: 995;
    }
    .randomizer a img {
        width: 65%;
    }
}

.dropdown-notif .dropdown-toggle::after {
    display: none;
}


/* END Cafe Randomizer Icon */


/* ================================================================================ */


/* Card for Categories */

.card-categories {
    border-radius: 5vw;
    border: 5px solid #001427;
    overflow: hidden;
    background-color: #fff;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .4));
    margin-left: 10px;
    margin-right: 10px;
    color: #001427;
}

.label-categories {
    padding: 10px 10px;
    background: #001427;
    border-radius: 1rem;
}

.label-categories-location {
    padding: 4px 10px;
    background: #f4d58d;
    border-radius: 1rem;
    font-size: .75rem;
}


/* END Card for Categories */


/* ================================================================================ */


/* RESPONSIVE DESKTOP FIX */

@media screen and (max-width: 414.99px) {
    .desktop-only {
        display: none;
    }
}

@media screen and (min-width: 415px) {
    .mobile-only {
        display: none !important;
    }
    .card-cafe {
        border-radius: 15px;
        margin: 15px 25px;
    }
    .randomizer a img {
        width: 75%;
        /* left: 0vw; */
        right: 25vw;
    }
    #badge-label {
        font-size: 1rem;
    }
    .info-panel span:nth-child(1) {
        font-size: 1.5rem !important;
    }
    .info-panel span:nth-child(2) {
        font-size: .75rem !important;
    }
    .info-panel span:nth-child(3) {
        font-size: .1rem !important;
    }
    .card-categories a:hover,
    .card-categories a:focus {
        text-decoration: none;
    }
    .btn-profile:hover,
    .btn-profile:active {
        text-decoration: none;
        color: #001427;
    }
    section {
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .dropdown-sort-child {
        font-size: .85rem;
    }
    #weekly-trend-cafe {
        padding: 1% 0%;
    }
    .sidebar-wrapper.no-login {
        width: 225px;
        left: -225px;
    }
    .desktop-only .page-content {
        padding-left: 225px !important;
    }
    .btn-upper-right-nav {
        box-shadow: none !important;
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .btn-upper-right-nav:hover,
    .btn-upper-right-nav:active,
    .btn-upper-right-nav:focus {
        box-shadow: none !important;
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .show>.btn-secondary.dropdown-toggle.btn-upper-right-nav:hover,
    .show>.btn-secondary.dropdown-toggle.btn-upper-right-nav:active,
    .show>.btn-secondary.dropdown-toggle.btn-upper-right-nav:focus {
        box-shadow: none !important;
        background-color: transparent !important;
        border-color: transparent !important;
    }
}


/* END RESPONSIVE DESKTOP FIX */


/* ================================================================================ */


/* All-new desktop layout */

.bd-sidenav {
    display: none;
}

.dsk-navbar {
    min-height: 4rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1)
}

.dsk-sidebar {
    -ms-flex-order: 0;
    order: 0;
    /* border-bottom: 1px solid rgba(0, 0, 0, .1) */
}

.dsk-content {
    -ms-flex-order: 1;
    order: 1;
}

.dsk-sidebar-right {
    -ms-flex-order: 2;
    order: 2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
    background-color: #001427;
    /* border-top: 1px solid #bf3100; */
}

@media screen and (min-width: 376px) and (max-width: 767px) {
    .mobile-only .dropdown-notif {
        margin-left: 3rem !important;
    }
    .kotak-bawah-tiga {
        margin-left: 1px;
        margin-right: 1px;
    }
}

@media screen and (min-width: 360px) and (max-width: 375px) {
    .kotak-bawah-tiga {
        margin-left: 1px;
        margin-right: 1px;
    }
}

@media screen and (min-width:768px) {
    section {
        /* margin-top: 2%; */
        padding: 2% 0;
        height: auto;
    }
     ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #BF3100;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(114, 28, 0);
    }
    .dsk-sidebar {
        /* border-top: 1px solid #bf3100; */
        padding-left: 0px;
        padding-right: 0px;
        border-right: 1px solid rgba(0, 0, 0, .1)
    }
    .dsk-sidebar-right {
        border-left: 1px solid rgba(0, 0, 0, .1)
    }
    .dsk-sidebar-right::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    .dsk-sidebar-right::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
    .dsk-sidebar-right::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
    .dsk-sidebar-right::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .top-logo-nav {
        margin-left: 1rem;
    }
    .randomizer {
        position: absolute;
        left: 10vw;
        /* right: 5vw; */
        top: -5vh;
        z-index: 998;
    }
    .randomizer a img {
        width: 30%;
        z-index: 998;
    }
    .card-cafe {
        border-radius: 15px;
        margin: 25px 25px;
    }
    .card-cafe-sponsored-center {
        border-radius: 15px;
        margin: 25px 25px;
    }
    .garis-promoted {
        width: 50%;
        height: 2px;
        background: #BF3100;
        margin-top: 5px;
        margin-left: 3.1rem;
    }
    .card-cafe-sponsored {
        border-radius: 15px;
        border: 0px transparent;
        overflow: hidden;
        background-color: #bf3100;
        -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, .8));
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
        margin: 0px 3.5rem 0rem;
        color: #f4d58d;
        height: 120px;
        width: 120px;
        font-size: .7rem;
    }
    .card-cafe-sponsored span,
    .card-cafe-sponsored p,
    .card-cafe-sponsored i {
        font-size: .7rem;
    }
    .sidebar-wrapper .sidebar-header .user-pic {
        width: 64px;
        height: 64px;
    }
    .border-radius-on .sidebar-header .user-pic img {
        border-radius: 8px;
    }
    .label-sidebar {
        background: #F4D58D;
        padding: 4px 5px 1px;
        color: #001427;
        border-radius: 100px;
    }
    .card-categories {
        border-radius: 15px;
        margin: 15px 25px;
    }
    .card-categories.dummy:hover {
        cursor: default;
    }
    .card-categories .dummy:hover {
        cursor: default;
    }
    .choice-label {
        margin: .5rem 5rem;
    }
    .addon {
        margin-top: 2.55rem;
    }
    /* .img-profile-photo {
        width: 84px;
    } */
    .label-categories {
        margin-left: 1rem;
        /* margin-top: 50vh; */
    }
    .label-categories-location {
        margin-left: 1rem;
        /* margin-top: 50vh; */
    }
    .label-categories-location:hover {
        text-decoration: none;
        color: #001427;
    }
    p.label-hof a:hover {
        text-decoration: none;
    }
    .sidebar-wrapper .sidebar-menu ul li a {
        padding: 3px 30px 3px 20px !important;
    }
    .sidebar-wrapper .sidebar-menu ul li a i {
        margin-right: 10px;
        font-size: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
        top: auto;
    }
    .sidebar-wrapper .sidebar-menu ul li a .menu-text {
        font-size: .8rem;
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 0px;
    }
    .mCSB_scrollTools .mCSB_draggerContainer {
        left: inherit;
    }
    .social-media a {
        margin-right: 10px;
    }
    .nav-link-gold {
        color: #c2a052 !important;
    }
    .nav-link-gold:hover {
        color: #f4d58d !important;
    }
    .kotak-bawah-tiga {
        margin-left: 10px;
        margin-right: 10px;
    }
    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .dsk-sidebar {
            position: -webkit-sticky;
            position: sticky;
            top: 4rem;
            z-index: 1;
            height: calc(100vh - 4rem)
        }
    }
}

@media screen and (min-width: 1367px) {
    .garis-promoted {
        width: 50%;
        height: 2px;
        background: #BF3100;
        margin-top: 5px;
        margin-left: 4.6rem;
    }
    .card-cafe-sponsored {
        border-radius: 15px;
        border: 0px transparent;
        overflow: hidden;
        background-color: #bf3100;
        -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, .8));
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
        margin: 0px 7rem 0rem;
        color: #f4d58d;
        height: 128px;
        width: 128px;
        font-size: .7rem;
    }
    .card-cafe-sponsored span,
    .card-cafe-sponsored p,
    .card-cafe-sponsored i {
        font-size: .7rem;
    }
    .dsk-sidebar-right .row {
        margin-left: -25px;
        margin-right: -25px;
    }
    .dsk-sidebar-right .row i {
        padding-bottom: 5rem !important;
    }
}

@media (min-width:1200px) {
    .dsk-sidebar {
        -ms-flex: 0 1 320px;
        flex: 0 1 320px
    }
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .dsk-sidebar-right {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        height: calc(100vh - 4rem);
        overflow-y: auto
    }
}


/* END All-new desktop layout */