/* Font Face */

@font-face {
    font-family: 'Mostica';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Mostica'), url(../webfonts/Mostica/Mostica.woff2) format('woff2');
}

@font-face {
    font-family: 'Bashirah';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Bashirah'), url(../webfonts/Bashirah.ttf) format('truetype');
}

.bashirah {
    font-family: 'Bashirah' !important;
}

.label-sidebar {
    background: #F4D58D;
    padding: 4px 10px 1px;
    color: #001427;
    border-radius: 100px;
}

.default-theme .sidebar-wrapper .sidebar-footer>div.not-signin {
    border-right: 2px solid #F4D58D;
}


/* END Font Face */


/* Main Styling */

body {
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Mostica', cursive;
}

body.bg-changing {
    background: linear-gradient(-67deg, #BF3100, #F37335);
    /* background: linear-gradient(-67deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background-size: 200% 200%;
    animation: gradient 30s ease infinite;
    background-repeat: no-repeat;
}

.bg-dashboard {
    background: url('../img/Header.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.underline--magical {
    background-image: linear-gradient(120deg, #BF3100 0%, #BF3100 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 110%;
    padding: 5px 10px;
    transition: background-size 0.35s ease-in;
    border-radius: 25px;
}

.underline--magical:hover {
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
    transition: color 0.25s ease-out;
}

section {
    /* margin-top: 2%; */
    padding: 5% 0;
    height: auto;
}

.max-z-index {
    z-index: 999;
}

.max-z-index-1 {
    z-index: 998;
}

.text-brightred {
    color: #bf3100 !important;
}

.bottom-nav {
    background: #001427;
}


/* END Main Styling */


/* ================================================================================ */


/* Index Page Styling */

.logo-index {
    max-width: 80%;
    height: auto;
}


/* END Index Page Styling */


/* ================================================================================ */


/* Login Form Section */

.form-control {
    border-radius: 2rem;
}

.form-control:focus {
    border-color: #C1212D;
    box-shadow: 0 0 0 0.2rem rgba(193, 33, 45, .25);
}

.btn-login {
    background-color: #C1212D;
    border: 2px solid white;
    border-radius: 2rem;
}

.btn-login:not(:disabled):not(.disabled):active,
.btn-login:not(:disabled):not(.disabled):visited,
.btn-login:not(:disabled):not(.disabled):focus,
.btn-login:not(:disabled):not(.disabled):hover {
    background-color: #ec3440;
    border-color: white;
    transition: .3s ease-in-out;
}

.btn-daftar {
    background-color: #F37335;
    border: 2px solid #fff;
    border-radius: 2rem;
}

.btn-daftar:not(:disabled):not(.disabled):active,
.btn-daftar:not(:disabled):not(.disabled):focus,
.btn-daftar:not(:disabled):not(.disabled):hover {
    background-color: #FDC830;
    border-color: #fff;
    transition: .3s ease-in-out;
}


/* END Login Form Styling */


/* ================================================================================ */


/* Navbar Dashboard */

.img-circle {
    width: 28px;
    border-radius: 14px;
}

@media screen and (min-width: 415px) {
    .bottom-nav {
        display: none;
    }
}


/* END Navbar Dashboard */


/* ================================================================================ */


/* Header Section */

.bg-location {
    background-color: #BF3100;
    padding: 5px 10px 1px;
    background-size: 110% 110%;
    border-radius: 25px;
    color: #F4D58D !important;
}

.weekly-label {
    background-color: #F4D58D;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 25px;
}

.weekly-label-margin {
    margin-top: 8px;
}

.card-cafe {
    border-radius: 5vw;
    border: 0px transparent;
    overflow: hidden;
    background-color: #001427;
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, .8));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}

.see-more-btn {
    background-color: #F4D58D;
    border-radius: 25px;
    border: 2px solid #001427;
    color: #343A40;
}

.see-more-btn:hover,
.see-more-btn:active {
    border-color: transparent;
}

.navbar-dark {
    background: rgba(0, 0, 0, .4);
}

.navbar-dark-alt {
    background: #001427;
}

.drop-shadow {
    -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, .8));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
}

.top-logo-nav {
    margin-left: 7vw;
}


/* END Header Section */


/* ================================================================================ */


/* Main Section */

.main-content {
    background: url('../img/Main_Background.svg');
    background-size: 100% auto;
    background-repeat: repeat-y;
}


/* END Main Section */


/* ================================================================================ */


/* Profile Page */

.navbar-dark.profile {
    background: rgba(0, 0, 0, .4) !important;
}

.bg-profile {
    background: #BF3100;
}

.img-profile-photo {
    border-radius: 10%;
}

.img-logonav-profile {
    width: 32px;
    border-radius: 50%;
}

.text-gold {
    color: #f4d58d !important;
}

.text-navy-blue {
    color: #001427;
}

.garis {
    width: 20%;
    height: 2px;
    background: #BF3100;
    margin-top: 5px;
}

#user-recommendation {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.choice-label {
    background: #001427;
    border-radius: 25px;
    background-size: 50% 50%;
    margin: .5rem .8rem;
}

#user-recommendation {
    background: url('../img/Main_Background.svg');
    background-size: 100% auto;
    background-repeat: repeat-y;
}


/* END Profile Page */


/* ================================================================================ */


/* Categories Page */

.img-food-pic {
    width: 25%;
}


/* END Categories Page */


/* ================================================================================ */


/* Hall of Fame Page */

.label-hof {
    padding: 5px 10px;
    background: #bf3100;
    border-radius: 1rem;
}


/* END Hall of Fame Page */


/* ================================================================================ */


/* Cafe Randomizer Icon */

.randomizer {
    position: absolute;
    left: 70vw;
    right: 5vw;
    top: 15vh;
}

.randomizer a img {
    width: 65%;
}


/* END Cafe Randomizer Icon */


/* ================================================================================ */


/* Card for Categories */

.card-categories {
    border-radius: 5vw;
    border: 5px solid #001427;
    overflow: hidden;
    background-color: #fff;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .4));
    margin-left: 10px;
    margin-right: 10px;
    color: #001427;
}

.label-categories {
    padding: 10px 10px;
    background: #001427;
    border-radius: 1rem;
}


/* END Card for Categories */


/* ================================================================================ */


/* RESPONSIVE DESKTOP FIX */

@media screen and (min-width: 415px) {
    .card-cafe {
        border-radius: 15px;
        margin: 15px 40px;
    }
    .randomizer a img {
        width: 35%;
    }
    #badge-label {
        font-size: 1rem;
    }
    /* .img-profile-photo {
        width: 128px;
    } */
    .addon {
        margin-top: 3rem;
    }
    .info-panel span:nth-child(1) {
        font-size: 1.5rem !important;
    }
    .info-panel span:nth-child(2) {
        font-size: .75rem !important;
    }
    .info-panel span:nth-child(3) {
        font-size: .5rem !important;
    }
    .label-categories {
        margin-left: 3vw;
        /* margin-top: 50vh; */
    }
    .card-categories {
        border-radius: 15px;
        margin: 15px 75px;
    }
    .card-categories a:hover,
    .card-categories a:focus {
        text-decoration: none;
    }
    .choice-label {
        margin: .5rem 7.5rem;
    }
    .btn-profile:hover,
    .btn-profile:active {
        text-decoration: none;
        color: #001427;
    }
    section {
        padding: 2% 0;
    }
    .dropdown-sort-child {
        font-size: .85rem;
    }
}


/* END RESPONSIVE DESKTOP FIX */